hex-grid {
	display: inline-table;
	border-spacing: 0.2em 1.2em;
	border-collapse: separate;
	table-layout: fixed;
	background-color: #f0f9ff;
	overflow-x: hidden;
	padding-right: 2.1em;
}

hex-row {
	display: table-row;
}

hex-row:nth-child(even) {
	transform: translate(2.1em,0);
}

hex-tile {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 4em;
	height: 2.2em;
	background: #c6ecd8;
	border-color: #c6ecd8;
	position: relative;
	margin: 1em 0;
}

hex-tile:hover
	{
		border-color: #b3e6cc;
	}

hex-tile:before {
	content: "";
	position: absolute;
	top: -1em;
	left: 0;
	width: 0;
	height: 0;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-bottom: 1em solid;
	border-bottom-color: inherit;
}
hex-tile:after {
	content: "";
	position: absolute;
	bottom: -1em;
	left: 0;
	width: 0;
	height: 0;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-top: 1em solid;
	border-top-color: inherit;
}

